body {
  font-family: "Fira Sans", sans-serif;
  
}

#copy-container {
  margin: 0 auto;
  max-width: 1000px;
}

section {
  background-color: white;
  max-width: 800px;
  margin: 0 auto;
}

.hero {
  background-color: white;
  color: #1c1d25;
  font-size: 40px;
}

footer {
  text-align: center;
  padding: 30px;
}

nav {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  list-style-type: none;
  font-size: 20px;
}

ul.show {
  display: block;
}

#nav-list{
  color: #b8860b;
}

li {
  text-decoration: none;
  padding: 30px;
}

.menu-item:hover{
    color: #b8860b;
}

h1 {
  font-size: 90px;
  margin: 0;
}

h2 {
  font-size: 50px;
}

p {
  margin: 0;
  font-size: 30px;
}

.subtext {
  font-size: 17px;
  padding: 15px;
  margin: 15px;
  line-height: 1.5;
  margin-left: 0;
}
.glossary {
  color: #b8860b;
}

.hero-area {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

#connect {
  width: 100%;
  text-align: center;
}

.hero-text {
  margin-bottom: 50px;
  text-align: center;
}

.button {
  width: 200px;
  height: 50px;
  border-radius: 30px;
  background-color: #b8860b;
  text-align: center;
  font-weight: 300;
  font-size: 30px;
  padding-top: 10px;
  margin-top: 20px;
}

.button:hover {
  background-color: #ffce44;
}

.button:active {
  background-color: #a9a9a9;
  color: #808080;
}

.socials {
  padding-bottom: 200px;
}

.social {
  /* margin: 20px; */
  opacity: 0.7;
  padding: 10px;
  margin: 10px;
  color: #b8860b;
  font-size: 30px;
}

.social-footer {
  font-size: 20px;
}

.sub-section {
  display: flex;
  justify-content: space-around;
  padding: 80px;
}

.sub-section-alternative {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* padding: 80px; */
}
.headshot {
  width: 300px;
  border-radius: 50%;
}

.information {
  width: 60%;
}
#about-me-summary {
  font-size: 20px;
}

.project-card {
  width: 700px;
  height: 250px;
  box-shadow: 3px 3px 15px rgb(197, 195, 195);
  margin-bottom: 40px;
  text-align: center;
}
.project-card h3 {
  text-align: center;
}
.project-container {
  display: flex;
  justify-content: space-around;
}
.mini-project {
  font-size: 15px;
  padding: 0;
}
#github-link {
  color: #b8860b;
  font-weight: bold;
}
#resume-link {
  color: #b8860b;
  font-weight: bold;
}
.fa-youtube {
  color: red;
  font-size: 20px;
}
.fa-blog {
  color: lightblue;
  font-size: 20px;
}
.fa-guitar{
  color: #410200;
  font-size: 20px;
}
.fa-newspaper{
  font-size: 20px;
}
.fa-screwdriver-wrench {
  color: black;
  font-size: 20px;
}
@media only screen and (max-width: 1000px) {
  .project-container {
    display: flex;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 1000px) {
  .hero-text {
    font-size: 14px;
  }
}
.project-image {
  margin-top: 25px;
  width: 250px;
  /* border-radius: 100px; */
}

.project-link {
  text-decoration: none;
  color: #b8860b;
  font-weight: bold;
  padding-left: 10px;
}

a {
  text-decoration: none;
  color: #1c1d25;
}

.hamburger {
  display: none;
}
.hamburger.focus {
  outline: 0;
}

@media only screen and (max-width: 1000px) {
  .hamburger {
    display: block;
    border: 0;
    background-color: transparent;
    color: #1c1d25;
    font-size: 30px;
    margin: 20px;
    align-self: flex-end;
  }

  ul {
    display: none;
    margin: 0px;
  }

  nav {
    display: flex;
    flex-direction: column-reverse;
  }

  .logo {
    display: none;
  }
}